* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16;
}

body {
    background-color:rgb(196, 149, 240) ;

}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black ;
}

img.lado {

    float: right;
}